# Jekyll build directory
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# IDE - VSCode
.vscode/

# macOS files
.DS_Store

# NodeJS
node_modules/

# Bundler config
.bundle/

# Ignore all logfiles
*.log

# Environment variables
.env

# Ignore Gemfile lock file (uncomment if not using Bundler version 2.0.0+)
#Gemfile.lock
