/* CSS Variables */
:root {
    --primary-color: #333;
    --hover-color: #555;
    --background-color: #f9f9f9;
    --text-color: black;
    --hover-background: #f1f1f1;
}

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
}

/* Splash Page Styles */
.splash-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.splash-container img {
    max-width: 100%;
    height: auto;
}

.enter-btn {
    position: absolute;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.enter-btn:hover,
.enter-btn:focus {
    transform: scale(1.1);
    background-color: var(--hover-color);
}

.enter-btn:active {
    transform: scale(0.95);
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
}

header h1 {
    margin: 0;
}

nav .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
    background-color: var(--hover-background);
}

.dropdown-content a:visited {
    color: #666; /* You can adjust this color according to your design */
}

.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
    display: block;
}

/* Homepage Styles */
.horizontal-gallery {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.horizontal-gallery img {
    max-height: 300px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.horizontal-gallery img:hover,
.horizontal-gallery img:focus {
    transform: scale(1.1);
}

.horizontal-gallery img:active {
    transform: scale(0.95);
}

/* Media Query for Mobile Responsiveness */
@media only screen and (max-width: 600px) {
    .horizontal-gallery img {
        max-height: 150px;
    }

    header h1 {
        font-size: 1.2em;
    }
    
    .dropdown-btn {
        background-color: var(--primary-color);
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown-btn:hover, 
    .dropdown-btn:focus {
        background-color: var(--hover-color);
    }
    
    .dropdown-content a:focus, 
    .dropdown-content a:hover {
        background-color: #ddd; /* Adjusted color for better contrast */
    }
    
}
